/*This is the external css-style.css*/
body {
  background-color: #EAF6F6;
}
h1{
  color: #66BFBF;
}
h3{
  color: #709fb0;
}

hr {
  border-style: none;
  border-top: dotted;
  border-width: 0.5em;
  border-color: #a6b1e1;
  width: 6%;
}
